<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}

<head>
    <title>{{ title }} - HyenaHub</title>
</head>

<body>

    <h1>{{title}}</h1>

    <h2>Filter By:</h2>
    <form action="" method="post" novalidate>
        <div class="formFilter">
            <span>
                {{ formFilter.hidden_tag() }}
                <a>
                    {{ formFilter.printProduct.label }}
                    {{ formFilter.printProduct(size=1) }}
                </a>
                <a>
                    {{ formFilter.paperSize.label }}
                    {{ formFilter.paperSize(width=22) }}
                </a>
                <a>
                    {{ formFilter.paperType.label }}
                    {{ formFilter.paperType(width=22) }}
                </a>
                <a>
                    {{ formFilter.quantity.label }}
                    {{ formFilter.quantity(size=1) }}
                </a>

                <a>{{ formFilter.submit() }}</a>
            </span>
        </div>
    </form>

    <hr>
    <table>
    <tr>
        {% for column in printOrders_columns %}
        <th>{{ column }}</th>
        {% endfor %}
    </tr>
    {% for row in printOrders %}
        <tr>
            <td>{{ row.dateTime }}</td>
            <td>{{ row.print_product.design}}</td>
            <td>{{ row.paper_size.paperSize}}</td>
            <td>{{ row.paper_type.paperType}}</td>
            <td>{{ row.quantity}}</td>
        </tr>
    {% endfor %}
    </table>
</body>



{% endblock %}
</html>