<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - HyenaHub</title>
</head>
<body>
    <div class="wrapper">
    <div class="whiteTitleBar">
        <span class="navigation">
            <a class="navigation" href= "{{ url_for('index') }}" > Home</a>
            <a class="navigation" href= "{{ url_for('printing.index') }}" > Printing</a>
            {% if current_user.is_anonymous %}
            <a class="navigation" href= "{{ url_for('auth.login') }}" > Login</a>
            {% else %}
            <a>{{ current_user.username}}</a>
            <a class="navigation" href= "{{ url_for('auth.logout') }}" > Logout</a>
            {% endif %}

        </span>
    </div>
    <hr>
        {% block content %}{% endblock %}
</body>
</html>